

<div class="container table-container">

  <!-- Table Display Large -->
  <div class="table-large-screen">
    <table mat-table [dataSource]="clients" class="mat-elevation-z8 demo-table">
      <!-- Nume -->
      <ng-container matColumnDef="Nume">
        <th mat-header-cell *matHeaderCellDef> Nume </th>
        <td mat-cell *matCellDef="let element"> {{element.client.lastNameClient}} </td>
      </ng-container>
      <!-- Prenume -->
      <ng-container matColumnDef="Prenume">
        <th mat-header-cell *matHeaderCellDef> Prenume </th>
        <td mat-cell *matCellDef="let element"> {{element.client.firstNameClient}} </td>
      </ng-container>
      <!-- Check-In -->
      <ng-container matColumnDef="Check-In">
        <th mat-header-cell *matHeaderCellDef> Check-In </th>
        <td mat-cell *matCellDef="let element"> {{element.reservation.checkIn}} </td>
      </ng-container>
      <!-- Check-Out -->
      <ng-container matColumnDef="Check-Out">
        <th mat-header-cell *matHeaderCellDef> Check-Out </th>
        <td mat-cell *matCellDef="let element"> {{element.reservation.checkOut}} </td>
      </ng-container>
      <!-- Cameră Ana-->
      <ng-container matColumnDef="Camera">
        <th mat-header-cell *matHeaderCellDef> Cameră </th>
        <td mat-cell *matCellDef="let element"> {{element.reservation.noRooms}} </td>
      </ng-container>
      <!-- Email -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.client.emailClient}} </td>
      </ng-container>
      <!-- Telefon -->
      <ng-container matColumnDef="Telefon">
        <th mat-header-cell *matHeaderCellDef> Telefon </th>
        <td mat-cell *matCellDef="let element"> {{element.client.phoneClient}} </td>
      </ng-container>
      <!-- Acțiuni -->
      <ng-container matColumnDef="Acțiuni">
        <th mat-header-cell *matHeaderCellDef> Acțiuni </th>
        <td mat-cell *matCellDef="let element" class="actions">
          <mat-select  id="action" class="form-control">
            <mat-option matSuffix value=PDF id="pdf">PDF</mat-option>
            <mat-option matSuffix value=Edit id="edit">Edit</mat-option>
            <mat-option matSuffix value=Sterge id="delete">Sterge</mat-option>
          </mat-select>
          <button>OK</button>
          <!-- <mat-icon class="td-button-download">cloud_download</mat-icon>
          <mat-icon class="td-button-delete">delete</mat-icon> -->
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 50]"
              aria-label="Select page">
  </mat-paginator>
</div>



  <!-- Table Display Small -->
<div class="table-small-screen">
  <div class="client" *ngFor="let client of clients">

    <div class="row-table">
      <div class="title">
        Nume
      </div>
      <div class="data">
        {{client.client.lastNameClient}}
      </div>
    </div>

    <div class="row-table">
      <div class="title">
        Prenume
      </div>
      <div class="data">
        {{client.client.firstNameClient}}
      </div>
    </div>

    <div class="row-table">
      <div class="title">
        Check-In
      </div>
      <div class="data">
        {{client.reservation.checkIn}}
      </div>
    </div>

    <div class="row-table">
      <div class="title">
        Check-Out
      </div>
      <div class="data">
        {{client.reservation.checkOut}}
      </div>
    </div>

    <div class="row-table">
      <div class="title">
        Apartament
      </div>
      <div class="data">
        {{client.reservation.noRooms}}
      </div>
    </div>

    <div class="row-table">
      <div class="title">
        Email
      </div>
      <div class="data">
        {{client.client.emailClient}}
      </div>
    </div>

    <div class="row-table">
      <div class="title">
        Telefon
      </div>
      <div class="data">
        {{client.client.phoneClient}}
      </div>
    </div>

    <div class="row-table">
      <div class="title">
        PDF
      </div>
      <div class="data button-PDF">
        <span><mat-icon class="td-button-download">cloud_download</mat-icon></span>
      </div>
    </div>

    <div class="row-table">
      <div class="title">
        Șterge
      </div>
      <div class="data button-delete">
        <span><mat-icon class="td-button-delete">delete</mat-icon></span>
      </div>
    </div>

  </div>
</div>
<br>

</div>
