<!-- Header -->
<section class="header-container">
  <!-- Background image -->
  <img class="header-image-background" src="assets/images/Header-Admin.jpg" alt="">
  <div class="gradient"></div>

  <!-- Header content -->
  <div class="container header-content">
    <div class="header-logo">
      <img src="assets/images/Logo Ginivisa.png" alt="">
    </div>
    <!-- Header Title -->
    <div class="header-title">
      <h1 class="blue">Pentru sănătate și relaxare</h1>
      <h2 class="green">Fructe proaspete de pe valea Bistritei.</h2>
      <h2  class="green">Camping și cazare în județul Gorj.</h2>
    </div>
  </div>
</section>

<!-- Page Content -->
<!-- Buttons -->
<div class="buttons">
  <button  *ngIf="!displayAna" (click)="displayAnaFunction()">Ana</button>
  <button  *ngIf="!displayHan" (click)="displayHanFunction()">Han</button>
</div>


<!------ Table Ciorna ------>
<!-- <div class="container-ana"  *ngIf="displayAna">
  <h3 class="text-center green">Casa Ana</h3>
  <app-tabel-rezervari [clients]="clientsAna"></app-tabel-rezervari>
  <app-calendar [PricePerNight]="TabelAna[0].pret"  [RoomName]="TabelAna[0].tip" [TotalRooms]="TabelAna[0].total" [zileOcupate]="zileOcupate"></app-calendar>


  <button class="formular-button" *ngIf="!displayForm" (click)="showForm()">Formular</button>
  <button class="formular-button" *ngIf="displayForm" (click)="hideForm()">Închide</button>
  <app-form-rezerva *ngIf="displayForm"></app-form-rezerva>
  <br>
</div> -->


<!-- Table for Ana -->
<div class="container-ana container"  *ngIf="displayAna">
  <h3 class="text-center green">Casa Ana</h3>
  <app-tabel-rezervari-ana [clients]="clientsAna"></app-tabel-rezervari-ana>

  <!-- Calendar for Ana -->
  <h4 class="text-center green">Adaugă Rezervare</h4><br>
  <app-calendar [PricePerNight]="TabelAna[0].pret"  [RoomName]="TabelAna[0].tip" [TotalRooms]="TabelAna[0].total"></app-calendar>

  <!-- <button class="formular-button" *ngIf="!displayForm" (click)="showForm()">Formular</button>
  <button class="formular-button" *ngIf="displayForm" (click)="hideForm()">Închide</button>
  <app-form-rezerva *ngIf="displayForm"></app-form-rezerva> -->
  <br>
</div>

<!-- Table for Han -->
<div class="container-ana container"  *ngIf="displayHan">
  <h3 class="text-center green">Hanul Vânătorului</h3>
  <app-tabel-rezervari-han [clients]="clientsHan"></app-tabel-rezervari-han>
  <!-- Calendar for Han -->
  <h4 class="text-center green">Adaugă Rezervare</h4><br>
  <div class="row">
    <h5 class="text-center green">Cameră de familie</h5>
    <app-calendar [PricePerNight]="TabelHan[0].pret" [RoomName]="TabelHan[0].tip" [TotalRooms]="TabelHan[0].total" [zileOcupate]="zileOcupateFamily"></app-calendar>
  </div>
  <br>
  <div class="row">
    <h5 class="text-center green">Cameră dublă</h5>

      <div class="text-center d-inline-block">
        <h6 class="d-inline green">Număr Camere: </h6>
        <select  #NumarCamere (change)="onSelected(NumarCamere.value)" id="numarCamere" class="form-control d-inline">
          <option class="zero" selected value=0>0</option>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
        </select> <span class="green">/ 5</span>
      </div>
      <app-calendar  [PricePerNight]="TabelHan[1].pret" [RoomName]="TabelHan[1].tip" [TotalRooms]="TabelHan[1].total" [zileOcupate]="zileOcupateDouble" [selectedNumberOfRooms]="+NumarCamere.value"></app-calendar>
  </div>

  <!-- Show/Hide Formular -->
  <!-- <button class="formular-button" *ngIf="!displayForm" (click)="showForm()">Formular</button>
  <button class="formular-button" *ngIf="displayForm" (click)="hideForm()">Închide</button>
  <app-form-rezerva *ngIf="displayForm"></app-form-rezerva> -->
  <br>
</div>


