<div class="form-container">

  <form [formGroup]="rezervaForm" (ngSubmit)="onSubmit()" *ngIf="showForm">

    <br>
    <h4 class="text-center green">Introduceți detaliile dumneavoastră</h4>
    <br>

    <div class="form-group">
      <label for="nume">Nume: </label> <span class="red"> *</span>
      <input class="form-control" id="nume" formControlName="lastNameClient" [ngClass]="{'is-invalid': submitted}">
    </div>

    <div class="form-group">
      <label for="preNume">Prenume: </label> <span class="red"> *</span>
      <input class="form-control" id="preNume" formControlName="firstNameClient" [ngClass]="{'is-invalid': submitted && rezervaForm.controls}">
    </div>

    <div class="form-group">
      <label for="preNume">Țară: </label> <span class="red"> *</span>
      <input class="form-control" id="country" formControlName="countryClient" [ngClass]="{'is-invalid': submitted && rezervaForm.controls}">
    </div>

    <div class="form-group">
      <label for="preNume">Adresă: </label> <span class="red"> *</span>
      <input class="form-control" id="address" formControlName="addressClient" [ngClass]="{'is-invalid': submitted && rezervaForm.controls}">
    </div>

    <div class="form-group">
      <label for="email">Email: </label> <span class="red"> *</span>
      <input class="form-control" id="email" formControlName="emailClient" [ngClass]="{'is-invalid': submitted && rezervaForm.controls}">
    </div>

    <div class="form-group">
      <label for="telefon">Telefon: </label> <span class="red"> *</span>
      <input class="form-control" id="telefon" formControlName="phoneClient" [ngClass]="{'is-invalid': submitted && rezervaForm.controls}">
    </div>
    <br>
    <div class="form-group">
      <button type="submit" >Rezerva</button>
    </div>

  </form>
  <br>

</div>

<!-- Alerta Zile Suprapuse -->
<div class="container-alerta" *ngIf="showAfterForm">
  <div class="alerta">
    <h6 class="green text-center" >Vă multumim pentru rezervare!</h6>
    <h6 class="green text-center" >V-am trimis pe email o copie a formularului de rezervare (PDF).</h6>
    <div class="d-flex justify-content-around">
      <button (click)="message()">Înapoi</button>
      <button (click)="message()">PDF <mat-icon>cloud_download</mat-icon></button>
    </div>

  </div>

</div>
